/* Customize the nav-justified links to fill the entire space of the .navbar */


.nav-justified > li > a {
    border-bottom: 0px !important;
}

.navitem
{
  width:220px !important;
  text-align: center;
}

.nav-justified > li:last-child > a {
    border-bottom: 0px !important;
    border-radius: 0px 0px 5px 5px;
}

.topnav
{
  text-align: right;
  width:98%;
}

.breadcrumb 
{
    padding: 0px !important;
    margin-bottom: 10px;
    list-style: outside none none;
    background-color: transparent !important;
}

.breadcrumb > li + li::before {
    padding: 0px 5px;
    color: #CCC;
    content: " | ";
}

#logo
{
  margin-bottom: 10px;
}

.nav-justified {
  background-color: #557B23 !important;
  border: 1px solid #73A533 !important;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #73A533; 
  border-bottom: 1px solid #73A533;
}

.nav > li > a:focus, .nav > li > a:hover
{
    background-color: #85BF3C !important;
}

.active > .mNav
{
  background-color: #85BF3C !important;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #73A533;
    border-left: 1px solid #557B23;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.tab
{
  color: #73A533 !important;
}

.tab:hover
{
  color: white !important;
}

.active > .tab:hover
{
  background-color: white !important;
  color: grey !important;
}

.active > .tab:link
{
  background-color: white !important;
  color: grey !important;
}

.active > .tab:visited
{
  background-color: white !important;
  color: grey !important;
}
